<?php

    /**
     * backup.phtml - These page templates are rendered with the help of the block classes that are
     * found under the Template folder for this module.
     * @version         1.1.3
     * @package         JetRails® TwoFactor
     * @category        Template
     * @author          Rafael Grigorian - JetRails®
     * @copyright       JetRails®, all rights reserved
     */

?>
<script>
	window.location.hash = "step-4";
</script>
<div class="twofactor-badge" >2FA</div>
<div class="twofactor-container row center" >
	<div class="card col s12" >
		<div class="card-content center">
			<object
				class="twofactor-logo"
				type="image/svg+xml"
				data="<?php echo $this->getSkinUrl ('images/twofactor/logo.svg') ?>" >
				<img src="<?php echo $this->getSkinUrl ('images/twofactor/logo.png') ?>" >
			</object>
		</div>
		<div class="card-tabs">
			<ul class="tabs tabs-fixed-width" >
				<li class="tab disabled" >
					<a href="#step-1" ><?php echo $this->__("Step 1") ?></a>
				</li>
				<li class="tab disabled" >
					<a href="#step-2" ><?php echo $this->__("Step 2") ?></a>
				</li>
				<li class="tab disabled" >
					<a href="#step-3" ><?php echo $this->__("Step 3") ?></a>
				</li>
				<li class="tab disabled" >
					<a class="active" href="#step-4" ><?php echo $this->__("Step 4") ?></a>
				</li>
			</ul>
		</div>
		<div class="card-content center" >
			<div id="step-4" >
				<div class="row" >
					<p class="left-align" >
						<?php echo $this->__(
							"You have Succesfully completed the two factor authentication(2FA) setup." .
							"The next time, in order to login you will need the password that you generate with your authenticator."
						) ?>
					</p>
				</div>
				<div class="row grey lighten-4" >
					<?php foreach ( $this->getBackupCodes () as $code ): ?>
						<div class="col s6" ><?php echo $code . "\r\n" ?></div>
					<?php endforeach ?>
				</div>
				<form
					class="row"
					method="POST"
					target="_self"
					action="<?php echo $this->getFormUrl () ?>" >
					<input
						type="hidden"
						name="form_key"
						value="<?php echo $this->getFormKey () ?>"
					/>
					<button
						class="btn waves-effect waves-light col s12 light-blue darken-1"
						type="submit"
						name="action" >
						<?php echo $this->__("Complete Setup") ?>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
